#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
   font-size: 20px;
}

.profil_info {
  display: flex;
  justify-content: center;
}

.profil_info table {
  border-collapse: collapse;
  width: 500px;
  margin-bottom: 40px;
}

.profil_info table tbody{
  text-align: left;
}

.profil_info table tbody th,
.profil_info table tbody td {
  padding: 10px;
  border: 1px solid #858383;
}